
@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<link href="~/Content/mycs/GioHangCSS.css" rel="stylesheet" />
    <div style="text-align:center">
        <h2 style="color:red">Đăng ký đơn hàng thành công</h2>
        <h4>Đơn hàng của bạn sẽ được gửi đến trong 2- 3 ngày</h4>
        <a class="buycontinue" href="@Url.Action("Show","SanPham")"> Tiếp tục mua hàng</a>
    </div>

