
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    <link href="~/Content/mycs/GioHangCSS.css" rel="stylesheet" />
}
<div class="layout-1">
    <h1>Giỏ Hàng</h1>
    <div class="div-giohang">
        <table class="table-card">
            <thead >
                <tr>
                    <th class="fm-textcard">SẢN PHẨM</th>
                    <th class="fm-textcard">CHIẾT KHẤU</th>
                    <th class="fm-textcard">SỐ LƯỢNG</th>
                    <th class="fm-textcard">TỔNG TIỀN</th>
                    <th class="fm-textcard">XÓA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="Product">
                        <div class="card-product">
                            <div class="card-product-img">
                                
                            </div>
                            <div class="card-product-content">
                                <a>
                                    <h3>

                                    </h3>
                                </a>
                                <div class="card-product-properties">
                                    <p>Màu Sắc: <span></span></p>
                                    <p>Size: <span></span></p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="card-sale">
                        <p></p>
                        <p class="item-sale"
                    </td>
                    <td class="card-count">
                        <input type="number" min="0"/>
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


