
@{
    ViewBag.Title = "Thông Tin";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    <link href="~/Content/mycs/Thongtincss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
}
<style>
    .fm-image{
        max-width:100%
    }
    .text-info h1 {
        padding:50px;
        color: #292826;
        font-size:3em;
        font-weight:300;
        text-align:center;
        max-width:100%;
    }
</style>
<div class="text-info">
    <h1>Giới thiệu về IVY MODA</h1>
    <div class="img-info">
        <img class="fm-image" src="~/Content/Images/info-1.jpg" />
        <img class="fm-image" src="~/Content/Images/info-2.jpg" />
        <img class="fm-image" src="~/Content/Images/info-3.jpg" />
        <img class="fm-image" src="~/Content/Images/info-4.jpg" />
        <img class="fm-image" src="~/Content/Images/info-5.jpg" />
        <img class="fm-image" src="~/Content/Images/info-6.jpg" />
        <img class="fm-image" src="~/Content/Images/info-7.jpg" />
        <img class="fm-image" src="~/Content/Images/info-8.jpg" />


    </div>


</div>


